body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: @baseLineHeight;
  position: relative;
  color: @black;
}

a {
  color: @linkBlue;
}

a:hover {
  color: @linkBlue;
}

.pull-right {
  float: right;
}

code {
  color: @redMuted;
  font-size: 95%;
}

i {
  color: @charcoalMuted;
}
