@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('fonts/Montserrat-ExtraLight.eot') format('eot');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('fonts/Montserrat-ExtraLightItalic.eot') format('eot');
    font-weight: 200;
    font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Light.woff2') format('woff2'),
    url('fonts/Montserrat-Light.woff') format('woff'),
    url('fonts/Montserrat-Light.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('fonts/Montserrat-LightItalic.woff') format('woff'),
    url('fonts/Montserrat-LightItalic.eot') format('eot');
    font-weight: 300;
    font-style: italic;
}


@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
    url('fonts/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Italic.woff2') format('woff2'),
    url('fonts/Montserrat-Italic.woff') format('woff'),
    url('fonts/Montserrat-Italic.eot') format('eot');
    font-weight: 400;
    font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Medium.woff2') format('woff2'),
    url('fonts/Montserrat-Medium.woff') format('woff'),
    url('fonts/Montserrat-Medium.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('fonts/Montserrat-MediumItalic.woff') format('woff'),
    url('fonts/Montserrat-MediumItalic.eot') format('eot');
    font-weight: 500;
    font-style: italic;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: @baseLineHeight;
  position: relative;
  color: @black;
}

a {
  color: @linkBlue;
}

a:hover {
  color: @linkBlue;
}

.pull-right {
  float: right;
}

code {
  color: @redMuted;
  font-size: 95%;
}

i {
  color: @charcoalMuted;
}

@media (max-width: 768px) {
  html, body {
  scroll-padding-top: 68px; /* height of sticky header */
  }
}
