<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="icon" href="static/img/ipfs-logo-512-ice.png" type="image/png" />

    <title>dist.ipfs.io | IPFS Distributions</title>

    <meta property="og:title" content="Download IPFS Distributions." />
    <meta property="og:name" content="IPFS" />
    <meta property="og:url" content="http://dist.ipfs.io" />
    <meta property="og:image" content="static/img/cover.png" />

    <!-- Bootstrap core CSS -->
    <link href="static/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- font-awesome -->
    <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- site specific css -->
    <link href="static/style.css" rel="stylesheet" />

    <!-- javascripts -->
    <script src="static/lib/jquery/jquery.js"></script>
    <script src="static/lib/platform.js"></script>
    <script src="static/lib/osinstall.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/lib/html5shiv.min.js"></script>
      <script src="static/lib/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

<div class="container-fluid ipw-container">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

{% block content %}

  <div class="jumbotron dist-jumbotron">
    <h1>
      IPFS Distributions &amp; Downloads
    </h1>
    <p>This page lists all of the official IPFS distributions, the supported packages, and links to all downloads. It's a one-stop shop for the releases made by the IPFS team.</p>
  </div>

  <!-- dist menu -->
  <div class="section dist-thumbnails row">
    {% for d, dist in dists %}
      {% include "tmpl/dist-tile.html" %}
    {% endfor %}
  </div>


  <!-- dist content -->
  {% for d, dist in dists %}
    {% include "tmpl/dist.html" %}
  {% endfor %}

{% endblock %}

</div>
</div> <!-- container -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52930282-2', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
