body {
  font-size: 16px;
}

.section.dist {
  margin: 70px -70px;
  padding: 70px 70px;
  /*background: #eeeeee;*/
}

.card {
  /*padding: 30px 10px;*/
}

.dist-screenshot {
  margin: 40px 0px;
}

.dist-screenshot img {
  width: 100%;
}

.dist-info-card {
  margin: 40px 0px;
  padding: 20px;
  background: #eeeeee;
}

.dist-title-card {
  padding: 20px 0px;
  padding-bottom: 40px;
}

.dist-title-card .dist-title {
  vertical-align: middle;
}

.dist-info-card .install-btn {
  font-size: 24px;
}

.version {
  margin: 35px 0px;
}

table.dist-downloads {
  margin: 10px 0px;
/*  border-collapse:separate;
  border-spacing:8px;
*/}

table.dist-downloads td {
  padding: 6px 12px;
}

table.dist-downloads td.dist-download {
  text-align: center;
  /*background: #ccc;*/
}

table.dist-downloads td.dist-download button {
  height: 100%;
}

table.dist-downloads td.dist-download:hover button {
  font-weight: bold;
}

td.dist-download-name i {
  width: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

tr:hover td.dist-download-name {
  font-weight: bold;
}

h3.downloads-header {
  padding-left: 12px;
  padding-bottom: 10px;
}

* > .show-on-hover {
  opacity: 0;
}

*:hover > .show-on-hover {
  opacity: 1.0;
}