name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - run: scripts/install-ipfs.sh
      - run: sudo snap install jq
      - run: ipfs init --profile server
      - run: ipfs daemon &
      - name: Wait for ipfs daemon
        run: npx wait-port http://127.0.0.1:8080/api/v0/version
      - name: Connect to ipfs cluster
        run: ipfs swarm connect /dnsaddr/cluster.ipfs.io
      - run: make publish
      - run: make diff
      - uses: actions/upload-artifact@v2
        with:
          name: diff
          path: diff
      # todo: add $(cat versions) to cluster (and wait)
      # todo: update dist dnslink if changed.
  
  lint: 
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - run: npm ci --no-audit --progress=false
      - run: npm run lint
  diff:
    needs: build
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: diff
      - id: diff
        run: |
          body=$(cat diff)
          body="${body//'%'/'%25'}"
          body="${body//$'\n'/'%0A'}"
          body="${body//$'\r'/'%0D'}"
          echo ::set-output name=diff::$body
      - uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
          issue-number: ${{ github.event.number }}
          body: |
            ${{ steps.diff.outputs.diff }}
